<app-home></app-home>
<form #formPosts="ngForm" (ngSubmit)="recogerDatosForm(formPosts)">
    <div>
      <label for="title" class="form-label">Título</label>
      <input class="form-control" type="text" id="title" name="title" ngModel>
    </div>
  
    <div>
      <label for="author" class="form-label">Autor</label>
      <input class="form-control" type="text" id="author" name="author" ngModel>
    </div>
  
    <div>
      <label for="image" class="form-label">URL Imagen</label>
      <input class="form-control" type="text" id="image" name="image" ngModel>
    </div>
  
    <div>
      <label for="date" class="form-label">Fecha</label>
      <input class="form-control" type="text" id="fecha" name="fecha" ngModel>
    </div>
  
    <div>
      <select name="category" ngModel class="form-select mt-3">
        <option value="">Selecciona una categoría</option>
        <option [value]="categori.title" *ngFor="let categori of arrCategories">{{ categori.title }} </option>
        
      </select>
    </div>
  
    <input type="submit" class="btn btn-danger my-3" value="Guardar">
  </form>
  <hr class="d-md-none">